<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

        * {
            box-sizing: border-box;
            border: none;
            outline: none;
            font-family: 'Poppins', sans-serif;
            transition: all 0.2s linear;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        footer {

            background-color: #333;
            color: #fff;
            padding: 1em 0;
            text-align: center;
            border-radius: 10px;
            margin: 0, auto;
        }

        footer p {
            font-size: 20px
        }

        .logo {
            font-size: 44px;
            position: relative;
            left: -100%;
            animation: slideTitle 2s forwards;
        }

        nav {
            display: flex;
        }

        nav ul {
            margin: 10px;
            list-style: none;
            display: flex;
        }

        nav li {
            margin: 15px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

        .product {
            width: 200px;
            height: auto;
            border: 1px solid #d1d1d1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 20px;
        }

        .product-image {
            width: 199px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        .menu-item {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            /* Add this line to create a flex container */
        }


        .rating {
            color: #f39c12;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .hamburger div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 5px 0;
            transition: 0.4s;
        }

        @media only screen and (max-width: 760px) {
            .hamburger {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                transition: transform 0.4s ease-in-out;
            }

            nav {
                display: none;
                position: absolute;
                top: 60px;
                left: 8px;
                width: 95.47%;
                background-color: #333;
                z-index: 1;
                border-radius: 10px;
            }

            nav.show {
                display: flex;
            }

            nav ul {
                flex-direction: column;
                align-items: center;
            }

            nav li {
                margin: 10px 0;
            }

            .hamburger.active div:nth-child(1) {
                transform: rotate(-45deg) translate(-9px, 9px);
            }

            .hamburger.active div:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active div:nth-child(3) {
                transform: rotate(45deg) translate(-9px, -9px);
            }

            .logo {
                font-size: 24px;
            }

        }

        .mar {
            width: 100%;
            direction: left;
            padding: 13px;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            align-items: center;
            display: flex;
        }

        @keyframes slideTitle {
            to {
                left: 0;
            }
        }

        /* Rest of your CSS code */
    </style>
</head>

<body>
    <header>
        <div class="logo">KHAN FOOD COURT</div>
        <div class="hamburger" onclick="toggleNav()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav>
            <ul>
                <% if (user) { %>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/manage"><%= user %></a></li>
                <% } else { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/menu">Menu</a></li>
                <% } %>
            </ul>

        </nav>
    </header>

    <div class="mar">
        <marquee>
            ORDER ANY 3 BIRYANIS AND GET 1 BIRYANI FOR FREE
        </marquee>
    </div>
    <h2 align="center"> Welcome to Khan Food Court</h2>
    <h3 align="center"> Todays Specials </h3>
    <div class="products">
        <div class="product">
            <img src="images/Veg Manchurian.jpg" alt="Product 2" class="product-image">
            <div class="product-info">
                <p class="product-name" align="center">Veg Manchuria</p>
                <p class="product-price" align="center">Price : 120/-</p>
                <p class="rating" align="center">Rating : ★★★★★</p>
            </div>
        </div>

        <div class="product">
            <img src="images/Chicken Manchurian.jpg" alt="Product 3" class="product-image">
            <div class="product-info">
                <p class="product-name" align="center">Chicken Manchuria</p>
                <p class="product-price" align="center">Price : 120/-</p>
                <p class="rating" align="center">Rating : ★★★★★</p>
            </div>
        </div>
        <div class="product">
            <img src="images/Parota.jpg" alt="Product 2" class="product-image">
            <div class="product-info">
                <p class="product-name" align="center">Paratha</p>
                <p class="product-price" align="center">price : 40/-</p>
                <p class="rating" align="center">Rating : ★★★★★</p>
            </div>
        </div>
    </div>
    <br>
    <p class="menu-item"> Indulge your taste buds in a symphony of flavors at our Fast Food Centre, where culinary
        excellence meets speed! Our menu is a tantalizing journey through mouthwatering classics and innovative
        delights, all crafted with the finest ingredients to satisfy your cravings. From sizzling burgers to crispy
        fries, each bite is a burst of joy. With our swift service, you won't have to wait long to experience the
        perfect blend of convenience and deliciousness. Join us at the Fast Food Centre for a quick, delightful escape
        into a world of savory delights – because great taste shouldn't be compromised by time!</p>
    <br>
    <footer>
        <p>© 2024 Khan Food Court. All rights reserved.</p>
    </footer>

    <script>
        function toggleNav() {
            var nav = document.querySelector('nav');
            var hamburger = document.querySelector('.hamburger');
            hamburger.classList.toggle('active');
            nav.classList.toggle('show');
        }
    </script>
</body>

</html>